body, html {
  background-color: #000;
  height: 100%;
  margin: 0;
}

#app {
  background-color: #383838;
  height: 100%;
}

#app-component {
  height: 100%;
}

/*------------------ Top Menu ----------------*/
.top-bar {
  height: 40%;
  background-color: #484848;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title {
  padding-top: 2em;
  font-size: 3em;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
}

