$black: #1C1C1C;
$white: #ddd;
$light: #484848;

$accent-light: #84A987;
$accent-medium: #648f67;
$accent-dark: #5c835f;

body, html {
  background-color: $black;
  color: #999;
  margin: 0;
  padding: 0;
}

#app {
  background-color: #383838;
}

#app-component {
}

/*------------------ Top Menu ----------------*/
.top-bar {
  background-color: $light;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 1em;
  padding-bottom: 2em;
  color: $white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title {
  font-size: 3em;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
}

.tag-line {
  text-align: center;
  font-size: 1.2em;
  font-family: 'Titillium Web', sans-serif;
}

.nightlife-input {
  background-color: #1C1C1C;
  color: #999;
  padding: 0.2em;
  border: none;
  border-radius: 8px;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  font-size: 2em;
  text-align: center;
}

.nightlife-input::placeholder {
  color: #444;
}

.nightlife-button {
  outline: 0;
  background-color: $accent-light;
  margin-top: 1em;
  padding: 0.5em;
  font-size: 1.5em;
  color: #333;
  border: none;
  border-radius: 0.5em;
}

.nightlife-button:hover {
  background-color: $accent-medium;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.4), 0 0px 20px 0 rgba(0, 0, 0, 0.4);
}

.nightlife-button:focus {
  background-color: $accent-dark;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.4), 0 0px 20px 0 rgba(0, 0, 0, 0.4);
}

.label {
  font-size: 2em;
  color: #999;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
}

.nightlife-input-group {
  text-align: center;
}

.nightlife-input:focus {
  box-shadow: 0 0px 8px 0 rgba(200, 200, 200, 0.4), 0 0px 20px 0 rgba(200, 200, 200, 0.4);
  outline: none;
}

.login-group {
  text-align: center;
  margin: 1em;
}

.nightlife-label {
  margin-top: 0.2em;
}

.main-button {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

#outer-container {
  margin-bottom: 1em;
}

/*-- Small Devices -- */
@media screen and (max-width: 700px) {
  .title {
    font-size: 2em;
  }

  .tag-line {
    font-size: .8em;
  }

  .nightlife-input {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 319px) {
  .nightlife-input {
    font-size: 1em;
  }
}

/*------------------ Input Form -------------------*/
.outer-input-form {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-bottom: 2em;
}

.input-form {
  display: flex;
  flex-direction: column;
}

/*------------------ Fonts ----------------*/
/* latin-ext */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 200;
  src: local('Titillium Web ExtraLight'), local('TitilliumWeb-ExtraLight'), url(https://fonts.gstatic.com/s/titilliumweb/v5/anMUvcNT0H1YN4FII8wpr8iECVzy6_x5mCR1UJr_CgI.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 200;
  src: local('Titillium Web ExtraLight'), local('TitilliumWeb-ExtraLight'), url(https://fonts.gstatic.com/s/titilliumweb/v5/anMUvcNT0H1YN4FII8wprwWgvz7nq97YPMIWeoEnHDE.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


/*------------------ Bottom Bar ----------------*/
#bottom-bar-container {
  background-color: $black;
}
